/**
 * index.scss
 * - Add any styles you want here!
 */

/** import de polices **/
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
/**@import url(https://fr.allfont.net/allfont.css?fonts=masonchronicles);**/
@import url(https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap);

body {
  background: url(https://wallpapercave.com/wp/YBXYOo0.jpg);
  color: rgb(250, 253, 247);
  font-family: 'Grenze Gotisch', cursive;
  /**https://media.giphy.com/media/12eljpyuTK0fSM/giphy.gif**/
  /** permet de centrer les éléments dans la page **/
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow:2px 4px 2px #000000;
}

.signature{
	background-color: #222222;
	position: fixed;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	top: 0px;
	box-shadow: 5px 5px 15px 5px #000000;
	right: 20px;
	width: 150px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.signature a{
	font-family: Arial, Helvetica, sans-serif;
	color: #f0f0f0;
	text-decoration: none;
	font-size: 10px;
}

/** l'image fait toujours la même hauteur **/
img{
  margin: 40px;
  border: 13px solid #4e210f;
  padding: 0px;
  height: 40vh; /** vh = % pour la fenêtre **/
  width: auto;
}
/** les titres ne sont pas trop grands **/
h1,h2{
  max-width: 800px;
  line-height: 1.5;
}


h1{
  font-size: 50px;
}
h2{
  font-size: 20px;
}


/** boutons **/
.btn {
	box-shadow: 6px 6px 0px 0px #6d4e0b;
	background:#333;
	border:1px solid #EEDD0b;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Grenze Gotisch', cursive;
	font-size:17px;
	padding:7px 25px; /** écartement entre les bords du bouton**/
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
/**quand la souris passe dessus**/
.btn:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
/** Quand on clique dessus**/
.btn:active {
	position:relative;
	top:1px;
}
.myButton {
	box-shadow: 0px 1px 0px 0px #050505;
	background:linear-gradient(to bottom, #fff6db 5%, #dbcda8 100%);
	background-color:#fff6db;
	border-radius:15px;
	border:2px solid #fff1d1;
	display:inline-block;
	cursor:pointer;
	color:#494d3e;
	font-family:'Grenze Gotisch', cursive;;
	font-size:22px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #dbcda8 5%, #fff6db 100%);
	background-color:#dbcda8;
}
.myButton:active {
	position:relative;
  top:1px;
}
/** bouton bleu **/
.myButtonblue {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Grenze Gotisch', cursive;
	font-size:22px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButtonblue:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButtonblue:active {
	position:relative;
	top:1px;
}
/** bouton rouge **/
.MyButtonRed {
	box-shadow:inset 0px -3px 7px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:3px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Grenze Gotisch', cursive;
	font-size:22px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
}
.MyButtonRed:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.MyButtonRed:active {
	position:relative;
	top:1px;
}
/** bouton jaune **/
.MyButtonYellow {
	box-shadow:inset 0px -3px 7px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:3px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:'Grenze Gotisch', cursive;
	font-size:24px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.MyButtonYellow:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.MyButtonYellow:active {
	position:relative;
	top:1px;
}
/** bouton vert **/
.MyButtonGreen {
	box-shadow:inset 0px -3px 7px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:3px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:'Grenze Gotisch', cursive;
	font-size:23px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.MyButtonGreen:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
.MyButtonGreen:active {
	position:relative;
	top:1px;
}

/** liste de boutons **/
.btns-list{
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  justify-content: center;
}
.btn{
  margin: 15px;
}
.myButton{
  margin: 15px;
}
.myButtonblue{
  margin: 15px;
}
.MyButtonRed{
  margin: 15px;
}
.MyButtonYellow{
  margin: 15px;
}
.MyButtonGreen{
  margin: 15px
}

/** Tout ce qui suit n'est pas visible ou utile car masqué par d'autres animations spécifiques ou tout simplement inutilisé **/

/** faire bouger un peu tout ça **/
h1,
h2 {
  animation-name: fade-in;
  animation-duration: 1s;
}

/** faire clignotter le sous titre **/ 
h2 {
  animation-iteration-count: infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/** une animation de très bon goût **/
.yeah{
  animation: yeah 2s ease-out;
}
@keyframes yeah{
  0%{
    transform:rotate(-600deg) scale(0) rotateY(180deg)
  }
  100%{
    transform: rotate(0deg) scale(1);
  }
}
